.contenedor-transacciones{
  width: 600px;
  padding: 6px 34px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  margin-top: 40px;
  margin-left: 40px;
  font-size: 23px;
}

.monto-numero{
  color: green;
  font-size: 26px;
  font-weight: bolder;
}

.contenedor-volver{
  margin: 60px 0 0 90px ;
  a{
    background-color: #ed6436;
    font-style: none;
    padding: 10px 35px;
    font-size: 21px;
    text-decoration: none;
    color: white;
  }
}
