<div class="contenedor-transferir">
  <form [formGroup]="formularioTransaferir" (submit)="onSubmit()" >
    <h1>Transferir dinero</h1>
    <input type="number" formControlName="monto" placeholder=" Monto"><br/>
    <input type="text" formControlName="cuentaDestino" placeholder=" Cuenta Destino"><br/>
    <button type="submit">Transferir</button>
    <button type="reset">Limpiar</button>
  </form>
  <div [ngClass]="{'success':estado == true, 'error':estado == false}" class="contenedor-mensaje">
    {{ mensaje }}
  </div>
</div>
