.prestamoPagado{
  width: 600px;
  padding: 6px 34px;
  border-radius: 10px;
  border: 5px solid rgb(12, 151, 35);
  margin-top: 40px;
  margin-left: 40px;
  font-size: 23px;
  font-weight: bolder;
  cursor: pointer;
}

.prestamoPagado:hover{
  border: 5px solid rgb(8, 109, 25);
}

.prestamoAtrasado{
  width: 600px;
  padding: 6px 34px;
  border-radius: 10px;
  border: 5px solid rgb(179, 168, 23);
  margin-top: 40px;
  margin-left: 40px;
  font-size: 23px;
  font-weight: bolder;
  cursor: pointer;
}

.prestamoAtrasado:hover{
  border: 5px solid rgb(124, 117, 16);
}

.prestamoPendiente{
  width: 600px;
  padding: 6px 34px;
  border-radius: 10px;
  border: 5px solid rgb(141, 16, 16);
  margin-top: 40px;
  margin-left: 40px;
  font-size: 23px;
  font-weight: bolder;
  cursor: pointer;
}

.prestamoPendiente:hover{
  border: 5px solid rgb(92, 11, 11);
}
