<div class="contenedor-principal">
  <div class="contenedor-titulo">
    <h3>Ofrecemos una solucion tecnologica para tu gestionamiento bancario</h3>
  </div>
  <div class="contenedor-imagen">
    <img src="https://img.freepik.com/vector-premium/edificio-banco-coches-ilustracion-vectorial-aislada-sobre-fondo-blanco_338371-2229.jpg" alt="imagen banco">
  </div>

  <!-- <div class="contenedor-chatbot">
    <div class="contenedor-relativo">
      <a href="http://api.au-syd.assistant.watson.cloud.ibm.com/instances/1693249f-b4e1-42cf-8332-d500162c0a2d" class="enlace-sofia"><img class="imagen-sofia" src="https://storagearchitectcrowd.blob.core.windows.net/imagenes-proyectos/Prototipo Sofia.png" alt="Chat Sofia"></a>
      <span class="chatea-sofia">Chatea con Sofía</span>
    </div>
  </div> -->

</div>


