.contenedor-principal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor-imagen > img{
    width: 140%;
  }
  .contenedor-titulo{
    font-size: 30px;
    text-align: center;
  }
}

.contenedor-chatbot{
  position: fixed;
  width: 40px;
  right: 0px;
  bottom: 0;
  z-index: 200;
  padding: 0 40px 20px 0;
  .contenedor-relativo{
    display: flex;
    justify-content: right;
    .enlace-sofia{
      z-index: 10;      
      transition: all .3s ease;
      margin-left: 120px;
      .imagen-sofia{
        width: 100px;
        border-radius: 50px;
      }      
    }
    .enlace-sofia:hover{
      transform: scale(1.05);
    }
    .enlace-sofia:hover + .chatea-sofia{
      transform: translateX(-90px);
      opacity: 1;

    }    
    .chatea-sofia{
      position: absolute;
      background-color: beige;
      padding: 3px 10px;
      font-size: 18px;
      border-radius: 5px;
      top: 12px;
      opacity: 0;
      transition: all .3s ease-out;
    }
  }
}


