.item-couta{
  width: 600px;
  padding: 6px 34px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  margin-top: 40px;
  margin-left: 40px;
  font-size: 23px;
}

.item-cuota-texto{
  position: relative;
}

button[type="submit"]{
  background-color: rgb(34, 139, 34);
  padding: 8px 13px;
  margin: 10px 0px;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 84px;
}
